@model DataChartViewModel;

@{
    Layout = "_Layout";
}

<div>
  <h1>Цены за услуги</h1><br/>
  <canvas id="BarChart" max-height="100" max-width="100"></canvas>
  <h1>Количество записей в разные месяца года</h1><br/>
  <canvas id="LineChart" height="100" width="100"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const barCTX = document.getElementById('BarChart');
    
  const lineCTX = document.getElementById('LineChart');

  var BarLabels = [];
  var BarData = [];
  
  var LineLabels = ["январь", "февраль", "март", "апрель", "май", "июнь", "июль", "август", "сентябрь", "октябрь", "ноябрь", "декабрь"];
  var LineData = [];
  
  @if (Model.BarLabels.Count == Model.BarData.Count)
  {
    foreach (var i in Model.BarLabels)
    {
      @:BarLabels.push('@Html.Raw(i)');
      
    }
    
    foreach (var i in Model.BarData)
    {
      @:BarData.push(@i);
    }
    
    foreach (var i in Model.LineData)
    {
      @:LineData.push(@i);
    }
  }
  
  new Chart(barCTX, {
    type: 'bar',
    data: {
      labels: BarLabels,
      datasets: [{
        label: 'Медецинская услуга',
        data: BarData,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  
  new Chart(lineCTX, {
    type: 'line',
    data: {
     labels: LineLabels,
      datasets: [{
        label: 'Количество записей',
        data: LineData,
        
         hoverOffset: 4
      }]
    },
     fill: false,
     borderColor: 'rgb(75, 192, 192)',
     tension: 0.1
  });
</script>

